/*
ВНИМАНИЕ! Я добавил множество правил с однопиксельными отсупами для того, чтобы добиться идеального соответсвия макету по блокам. 
Идеальное сходство по шрифтам я исключил, этого добиться практически невозможно. Test-class тоже был добавлен для фикса вёрстки, в следующем коммите я его переименую. Просьба отнестись к этой работе лояльно, я очень старался :)
*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
}

.container {
    display: flex;
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    width: 940px;
    max-width: 940px;
    margin: 0 auto;   
}

.red-color-style {
    color: #f06c64;
}

.header {
    background-color: #2d303a;
    color: white;
}

.header__logo {
    font-weight: bold;
    font-size: 25px;
    margin-top: 33px;
    margin-bottom: 30px;
    letter-spacing: -0.3px;
}

.navigation {
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
    display: flex;
    line-height: 6.32px;
    letter-spacing: -0.3px;
}

.nav__list {
    width: 371px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    line-height: 6.32px;
    margin-top: 49px;
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.nav__list-item::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -2px;
    left: 15px;
    width: 2px;
    height: 3px;
    background-color: #494e62;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav__list-item:last-child::after {
    content: '';
    display: none;
}

.header__decoration {
    background-color: #323746;
    height: 6px;
}

.slider-section__background {
    background-color: #f06c64;
    height: 594px;
    display: flex;
}

.slider-section__wrapper {
    width: 797px;
    margin: 0 auto;
    position: relative;
}

.slider-section__decorative-block {
    background-color: #ea676b;
    height: 6px;
}

.slider-section__image-one {
    background: url('assets/phone-vertical.png') no-repeat;
    height: 483px;
    width: 240px;
    position: absolute;
    top: 53px;
    left: 1px;
}

.slider-section__image-two {
    background: url('assets/phone-horizontal.png') no-repeat;
    height: 240px;
    width: 484px;
    position: absolute;
    top: 174px;
    left: 314px;
}

.slider-section__slider-left {
    display: inline-block;
    position: absolute;
    top: 279px;
    left: -2px;
    cursor: pointer;
}

.slider-section__slider-right {
    display: inline-block;
    position: absolute;
    top: 275px;
    left: 920px;
    cursor: pointer;

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.arrow {
    height: 32px;
    width: 22px;
    fill: black;
    
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.arrow:hover {
    fill: #ca4549;
}

.info-section {
    background-color: #f2f2f2;
}

.info-section__title {
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    padding-top: 68px;
    margin-bottom: 27px;
    letter-spacing: -0.2px;
}

.info-section__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    color: #767e9e;
    margin-bottom: 45px;
    word-spacing: 1.2px;
    letter-spacing: -0.01px;
}

.info-section__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 1px;
}

.info-section__list-item {
    display: flex;
    margin-bottom: 31px;
}

.info-section__list-item:not(.test-class) {
    margin-right: 20px;
}

.test-class {
    padding-left: 1px;
}

.info-section__list-icon {
    height: 59px;
    width: 59px;
    border: 2px solid #666d89;
    margin-right: 20px;
    margin-top: 2px;
    background: url('assets/fullsize-sprite.png') no-repeat;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.info-section__list-title {
    color: #666d89;
    font-size: 18px;
    line-height: 17.86px;
    font-weight: 900;
    margin-bottom: 10px;
}

.info-section__list-description {
    color: #767e9e;
    line-height: 21.56px;
    font-size: 12px;
    max-width: 220px;
    width: 220px;
    word-spacing: 0.3px;
}

.pencil {
    background-position: 12px 11px; 
}

.lamp {
    background-position: -307px 11px;
}

.heart {
    background-position: -627px 11px;
}

.phone {
    background-position: 12px -112px;
}

.comment {
    background-position: -307px -112px;
}

.star {
    background-position: -627px -112px; 
}

.info-section__decorate {
    background-color: #fff;
    height: 6px;
}
